.loginMaindiv{
    overflow-y: hidden;
}
.backgroundImg{
    position: absolute;
    margin-top:-5%;
}
.formdiv{
    text-align: -webkit-center;
    margin-top:4%;
}
.loginForm{
    width: max-content;
    height: max-content;
}
.optimusLogo{
    width: 20%;
    margin-top:-6%;
}
.optimusTitle{
    color: #18509D;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
    display: inline-block;
}
.loginFormItem{
    padding-top:8%;
}
.loginAlert.ant-alert-error{
   margin-bottom: 2%;
}
.loginIcons.anticon{
    color : rgba(0,0,0,0.25);
}
.loginCheckbox{
    float: left;
}
.loginForgotPwd{
    float: right;
}
.loginButton{
    width: 100%;
}
.bottomLogo
{
    float: right;
    text-align: right;
    margin-top:10%;
}
.bottomLogo_2{
    float: right;
    text-align: right;
    margin-top: 6.5%;
}
.bottomLogo img, .bottomLogo_2 img
{
    width: 50%;
}
.bg { 
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F0F2F5; 
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.login-form-layout {
    max-width: 381px;
    min-height: 330px;
    float: right;
    background: #fff;
    border:1px solid rgb(241, 239, 239);
} 

.login-form {
    max-width: 28%;
    max-height: 30%;
    background: #fff; 
    margin:auto;
    margin-top: 5%;
} 



.icon-size {
   font-size: 18px;
}


.login-form-checkbox {
    float: left;
}

.login-form-button {
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

.register-now {
    margin-left: 78px;
}

.info-img-icon {
    position: absolute;
    width: 290px;
    height: 65px;
    margin-top: -22%;
    margin-left: -1.1%;
}

.bg-img-div {
    position: absolute;
    z-index: -1;
}



.container-heading {
    margin-top: 20px;
    margin-bottom: 20px;  
}

.container {
    width: 140px;
    height: 84px;
    float: left;
    margin-left: 56px;
}

.container img {
    width: 5%;
    height: auto;
    position: absolute;
    z-index: inherit;
}

.text-title-container {
    margin-top: 10px;
    margin-bottom: 10px;

    display: inline;
}

.nor-div-title {
    font-size: 33px;
    color: #18509D;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    font-weight: 600;
    position: relative;
    top: 10%;
    left: 38%; 
}

.container-all {
    /* position: relative; */
}

.container-all img {
    width: 8%;
    height: auto;
    position: absolute;
   /*  z-index: inherit;
    bottom: -120px; */
    right: 16px;
    opacity: 1.2;
}

.container-all1 {
    /* position: relative; */
}

.container-all1 img {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 16px;
    opacity: 1.2;
}

.container-all2 {
    /* position: relative; */
}

.container-all2 img {
    width: 10%;
    height: auto;
    position: absolute;
    bottom: 10px;
    right: 16px;
    opacity: 1.2;
}