.menus{
    margin-top: 10px;
}

.ant-menu-item{
    padding-left: 13333px;
    
}
.previewStyle
{
    margin-left: 16%;
    color: #fff;
}
.imgLogo
{
    margin-top:-12%;
}
.spa{
    padding-left: 12px;
    width: 100%;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    margin-top: 4px;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    cursor: pointer;
    display: block;
    white-space: nowrap;
    transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    box-sizing: border-box;
    font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-feature-settings: "tnum";
    font-variant: tabular-nums;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: all;
}


.spa:hover{
    color: #fff;
}

.spa::after{
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.spa::selection {
    background: #1890ff;
    color: #fff;
} 

.icon{
    padding-right: 16px;
}

.home{
    color:#fff;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected{
background-color: #EE008C;
} 
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
     background-color: #EE008C; 
}

.select
{
    margin-left: 100px;
    width: 150px ;
    background-color: #EE008C;
    background:  #EE008C ;
    margin-top: 0px;
    
}