.header{
    background-color: #EE008C;
    padding: .25 rem;
    width: '100%';
    text-align: left;
    font: bold 3em Georgia, serif;

}

.nav-area1{
    background:  #EE008C ;
    height:30px;
    width: 250px;
    margin-left: 80px;
}

.test
{
   background-color:  #ffffff ;
}
.menu
{  
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.iconlist{
    float: right;
    margin-right: 25px;

}
.iconbell
{
  margin-left: 20px;
}
.iconmsg
{
  margin-left: 5px;
 
}
.iconuser
{
  margin-left: 2px;
} 
.selectProject > .ant-select-selection--single
{
    margin-left: 10%;
    margin-top:-5%;
    width: 230px ;
    background-color: #ffffff;
    border: #EE008C;
    outline: none;
}
.selectProject > .ant-select-selection--single > .ant-select-selection__rendered > .ant-select-selection-selected-value{
    color: #272727;
    font-weight: 600;
}
.selectProject > .ant-select-selection--single > .ant-select-arrow .ant-select-arrow-icon{
    color: #272727;
    font-size: 16px;
}
.selectProject > .ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
    box-shadow: none;
}
/* .select > .ant-select-selection--single {
    opacity: 0.4;

} */
/* .ant-select-selection {
    border: #EE008C;
    background-color:rgb(243, 53, 164);
} */
/* .ant-select-selection-selected-value {
    color: rgb(10, 10, 10);
    font-weight: 500;
}

.ant-select-selection__placeholder {
    margin-top: -8%;
    color: white;
    font-weight: normal;
} */

 /* 
* {
  border: 1px solid red;  
  padding: 1px;
    margin: 1px; 
} 
/* 
.icon{
    align-content: flex-end
}
.nav-area{
    background-color: rgba(224, 12, 111, 0.836);
    width: 100%;
}

.logo {

    width: 130px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 250px 16px 0;
    float: left;
    background-image: "tmobiles.png";
    position: absolute;
    z-index: 1;
  }
  .logo_img
  {
      width: 130px;
      height: 32px;
      margin-bottom: 110%;
  }
*/
 