.modal{
    top: 20px;
   
}

.radiodiv{
    margin-top: -25px;
}

.dropdown{
    padding-top: 6px;
    width: 460px;
    margin-left: -175px;
}

/* .ant-select-selection__placeholder{
    margin-top: -14px; 
} */

.ant-select-arrow .ant-select-arrow-icon {
    margin-top: -2px;
}

.ant-modal-header{
    background: #EE008C;
    margin: -1px; 
    color: #fff;  
}

.style {
    color: #fff;
    } 

.ant-modal-title, .ant-modal-close-x > .anticon {
        color: white;
    }