.logo {

    width: 150px;
    height: 31px; 
    float: left;
    background-image: "tmobiles.png";
    position: relative;
    z-index: 1;
  }
  .logo_img
  {
      width: 190px;
      height: 65px;
    
  }

 