.bg1 { 
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F0F2F5; 
    padding: 0px;
    
    margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 0px; 
}