.icon{

    margin-top: 8px;
   font-size: 38px;    
    float: right;

}

.nav-area{
    line-height: 54px;
     
}

/* .icon1{

    position: relative;
    width: 8%;
    font-size: 18px;    
    float: right;

} */