.ant-table-thead > tr > th {
    background: #ebecee;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
    grid-column-gap: 5px;
    border-spacing: 15px 0px;
  }