.btn{
    margin-left: 8px;
    margin-top: 8px;
    }
  
.selt-encode{
    margin-top: -14px;
    margin-left: 40px;
    width:530px;
    position: unset;
}    

.btn-apply{
       margin-top: -17px;
      float: right;
     background-color:  rgb(212, 209, 209);
     color: black;
     -webkit-box-shadow: 1px 3px 1px rgb(161, 159, 159);
     -moz-box-shadow: 1px 3px 1px rgb(161, 159, 159);
     box-shadow: 1px 3px 1px rgb(161, 159, 159);
     height: 29px;
        
}

.CharacterEncoding
{
    width: 230px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
    text-overflow: ellipsis; 
    color: black;
    margin-top: -4px;
    
}

.char-encode-card
{

    height: 210px;
    -webkit-box-shadow: 0px 1px 0px rgb(204, 202, 202);
     -moz-box-shadow:  0px 1px 0px rgb(204, 202, 202);
     box-shadow:  0px 1px 0px rgb(204, 202, 202);
}

.all-titles
{
    font-weight: 400;
    font-size: 15px;
    text-overflow: ellipsis; 
    color: black;
    margin-bottom: 20px;
    margin-left: 5px;
}

.card-title
{
    padding: 1px 0;
    height: 200px;
    -webkit-box-shadow: 0px 1px 0px rgb(204, 202, 202);
    -moz-box-shadow:  0px 1px 0px rgb(204, 202, 202);
    box-shadow:  0px 1px 0px rgb(204, 202, 202);
        
}

.section-id-table
{
    margin-top: -8px;
}

.text-area
{
    margin-top:6px;
}

.ant-select{
    width: 230px;
}
.ant-select-dropdown-menu {
    width: 230px;
}