.btn{
    margin-left: 8px;
    margin-top: 8px;
    }
  
.selt-encode{
    margin-top: -10%;
    margin-left: 350px;
    width:530px;
}    

.btn-apply{
      float: right;
      background: #D3D3D3;
}

.CharacterEncoding
{
    width: 150px;
    font-weight: 700;
    color: rgb(59, 59, 59);
    margin-right: 10px;
}

.char-encode-card
{

    height: 75px;
}
