@import "./../../styleSheet.less";

.header{
  background-color: #EE008C;
  padding: 0px;
  width: '100%';
  text-align: left;
  font: bold 3em Georgia, serif;

  .burgerMenu{
    font-size: 26px;
    color: #FEF5F9;
    margin-left: 1%; 
  }

  .headerIcons{
    float: right;
    margin-right: 25px;  
    .ant-dropdown-trigger{
      .anticon:not(.anticon-ellipsis){
        font-size: 22px;
        color: #FFFFFF;
        margin-left: 10px;
      }
    }  
  }
}
.profileMenu.ant-dropdown-menu-item{
  Icon{
    color: @text;
  }
  span > a{
    color: @text;
  }
}