.cardList{
    height:'200px';
    margin-left: 185px;
}

.newCardButton,.newCardButton:focus {
    width: 100%;
    height: 130px;
    background: #039BE5;
    color: #fff;
    border-radius: 10px;
    height: 204px;
    font-weight: 700;
    -webkit-box-shadow: 0 2px 8px rgba(3, 155, 229, 0.9);
    box-shadow: 0 2px 8px rgba(3, 155, 229, 0.9);
    border: #039BE5;
  }
.newCardButton:hover {
     background: #0288D1;
     color: #fff;
 }
 /* .ant-btn-lg,.ant-btn-lg:hover,.ant-btn-lg:focus
 {
     width: -webkit-fill-available;
     height: inherit;
     background: red;
 } */
 .cardRow
 {
     margin-top:2%;
 }
.mainDiv{
    /* margin-left: 70px; */
    background-color: rgba(128,128,128,0.14);
}
.projectCards
{
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    height: 204px;
}
.descriptionData{
        width: 200px;
        display: block;
        max-width: 100%;
        height: 30px;
        margin: 50 auto;
        font-size: 14px;
        line-height: 1;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        /* white-space: nowrap;  */
}
.supportLink
{
    margin-left:2%;
}
.ant-col-7 {
    margin-bottom: 2%;
    height: 204px;
}
.projectName
{
    color: black;
}
.customStyle
{
    border-top:none;
    float: right;
}
/* .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title
{  
  padding: 5px 5px 1px 5px;
  text-align: center;
  line-height: 1;
  font-size: 12px;
  font-weight: 700;
}
.ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover
{  
    background: #EDEDED;
}*/
.menulist{
    float: right;
    margin-right: 0px;
    margin-top: -32px;
    height: 50px;
    width: 60px;
} 
.addIcon
{
    font-size: 40px;
}
.menuIcon
{
    font-size: 24px;
    background-color: #fff;
    border-radius: 4px;
}
.menuIcon:hover
{
    transform: scale(1.2);
    background-color: rgba(128,128,128,0.14);
}