.slt-ret{
    width: 200px;
    margin-left: 8px;
    margin-top : -25px;
}

.slt-ft{
    width: 200px;
    margin-left: 8px;
    margin-top : -10px;
}

.radio{
    margin-left: 8px;
}

.btn{
    margin-left: 8px;
    margin-top: 8px;
    }

.plus-icon1
{
    margin-left:36%;
    color: #1a75ff;
    font-size: 30px;
    cursor: pointer;
}

.edit-delete
{
    padding-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.extractor-details
{
    width: 150px;
    margin-right: 10px;
    font-weight: 400;
    font-size: 15px;
    text-overflow: ellipsis; 
    color: black;
    margin-top: -25px;
}

.record-card
{
    
    height : 130px;
    -webkit-box-shadow: 0px 1px 0px rgb(204, 202, 202);
    -moz-box-shadow:  0px 1px 0px rgb(204, 202, 202);
    box-shadow:  0px 1px 0px rgb(204, 202, 202);
}

.field-card
{
    margin-top:-5px;
    size: 150px;
    height : 400px;
    -webkit-box-shadow: 0px 1px 0px rgb(204, 202, 202);
    -moz-box-shadow:  0px 1px 0px rgb(204, 202, 202);
    box-shadow:  0px 1px 0px rgb(204, 202, 202);
}

.record-table
{
    margin-top:0px;
    color: #EE008C;
}

.ant-popover-inner-content {
    width: 300px;
}

.ant-select{
    width: 230px;
}
.ant-select-dropdown-menu {
    width: 230px;
}
.edit-delete.anticon{
    color: #808080;
}